
.box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}
.stat-box{
    border: #ccc 1px solid;
    border-radius: 0.8rem;
    background-color: #fff;
    overflow: auto; 
}
.stat-box .heading{
    text-align: left;
    border-radius: 0.6rem 0.6rem 0 0;
    min-height: 3rem;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
    justify-content: space-between;
    background-color: transparent;
    padding:1rem 1.5rem;
    border-bottom: #ccc 1px solid;
}
.stat-box .heading h3{
    font-size: 1.3rem;
    font-weight: 500;
    color: #222;
}

.stat-box .info{
    padding: 1.5rem;
}
.canvasjs-chart-credit{
    display: none;
}

#indian-stat{
    width: 100%;
    height: 400px;
}

.state-stat .heading,.district-stat .heading{
    justify-content: center;
}
.state-stat .info, .district-stat .info{
    flex-grow: 1;
    padding: 0px;
}
#state-info{
    list-style: none;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: .5rem;
    grid-gap: .5rem;
}
#district-info{
    list-style: none;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.5rem;
    grid-gap: 1.5rem;
}
#state-info li,#district-info li{
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-radius: 0.2rem;
}
#state-info li:nth-child(1),#district-info li:nth-child(1){
    color: #ff204d;
    background-color: #ffdce3;
}
#state-info li:nth-child(2){
    color: rgb(0, 123, 255);
    background-color: rgb(197, 225, 255);
}
#state-info li:nth-child(3){
    color: #28a745;
    background-color: #b7ffc7 ;
}
#state-info li:nth-child(4){
    color: #6c757d;
    background-color: #ebebeb;
}






/* Desktop Devices */
@media only screen and (min-width: 600px){
    main.stats-container{
        display: grid;
        grid-template-columns: 4fr 4fr 2fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 40px;
        grid-template-areas: 
        "w i s"
        "w i d";
    }
    .world-stat{
        grid-area: w;
    }
    .indian-stat{
        grid-area: i;
    }
    .state-stat{
        grid-area: s;
    }
    .district-stat{
        grid-area: d;
    }
}

/* Mobile Devices */
@media only screen and (max-width: 600px){

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 0px;
        width: 100%;
    }
    main>div{
        margin-bottom: 0.5rem;
        width: 100%;
    }
    #world-stat{
        width: 100%;
        height: 50vh;
    }
    .stat-box .info{
        padding: 0rem;
    }
    .stat-box .heading{
        border-radius: 0px;
    }
    .stat-box{
        border-radius: 0px;
    }
    #state-info li, #district-info li{
        padding: 1rem;
    }
}