*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
*::-webkit-scrollbar-track{
    background: var(--scroll-track);
    /* width: 5px; */
    height: 50px;
}
*::-webkit-scrollbar-thumb{
    width: 5px;
    height: 40px;
    background: var(--scroll-thumb);
}


:root{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    --text-primary: #111111;
    --text-secondary: #222222;
    --bg-primary: #F8F8F8;
    --bg-primary-dark: #eaeaea;
    --bg-secondary:#ffffff;
    --scroll-track: rgba(0,0,0,0.1);
    --scroll-thumb: #6649b8;
    --transition-speed: 200ms;
}

body{
    color: var(--text-primary);
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    flex-direction: column;
    top: 0 !important;
}

a{
    color: #444;
}

main{
    width: calc(100% - 5rem);
    margin-left: 5rem;
    padding: 50px;
    text-align: justify;
}


.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-secondary);
    transition: 200ms ease;
    z-index: 999;
}

.navbar-nav{
    height: 100vh;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: auto;
}
.nav-item:last-child{
    margin-top: auto;
}





.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    cursor: pointer;
    color: var(--text-primary);
    text-decoration: none;
    transition: var(--transition-speed);
}

.link-text{
    display: none;
    padding: 0.5rem;
}

.link-icon{
    min-width: 40px;
    min-height: 40px;
    margin: 0 calc((5rem - 40px) / 2);
    background-image:url('icons/icons.svg');
    background-repeat:no-repeat;
}

.link-icon.active{
    pointer-events: none;
}

.logo .nav-link{
    flex-direction: column;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.logo .link-icon{
    background-image: url('icons/logo.webp');
    background-color: #000;
    background-size: cover;
    background-position: center center;
    margin-top: 1rem;
}


/* settings section */
.settings{
    width: calc(100% - 5rem);
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 5rem;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 200ms ease;
    padding: 1rem;
    background-color: var(--bg-primary);
    overflow: auto;
}
.shide{
    display: none;
    top:100vh;
    opacity: 0;
}
form {
    position: relative;
    width: 18rem;
    margin-bottom: 5rem;
}
  
.chosen-value,
.value-list {
  position: absolute;
  width: 100%;
}

.chosen-value {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 4px;
  height: 4rem;
  font-size: 1.2rem;
  padding: 1rem;
  color: #333;
  border: 1px solid #ddd;
  background-color: #FAFCFD;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  box-shadow: 0px 5px 8px -8px rgba(0, 0, 0, 0.1);
}
.chosen-value::-webkit-input-placeholder {
    color: #555;
}

.value-list {
    z-index: 99;
  list-style: none;
  margin-top: 4rem;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.value-list.open {
  max-height: 320px;
  overflow: auto;
}
.value-list li {
  position: relative;
  height: 4rem;
  background-color: #FAFCFD;
  padding: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  opacity: 1;
}
.value-list li:hover {
  background-color: #ddd;
}
.value-list li.closed {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
}

.close-settings{
    position: absolute;
    top: 2em;
    right: 4em;
    cursor: pointer;
    font-size: 3rem;
    padding: 1rem;
}

.settings-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: visible;
    height: 70vh;
    text-align: left;
}
.settings-inner h6{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    width: 100%;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #DBC7FF; 
    padding: 1.5rem;
    width: 100%;
    margin-top: auto;
}
footer a{
    text-decoration: none;
    color: #222;
}

.lang-buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: #222222;
}
.lang-buttons a,.user-manual a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    margin: auto;
    padding: 1rem;
}

.user-manual{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    background-color: #222222;
}

.visit-counter{
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
}
.visit-counter span{
    margin-right: 1rem;
}




@media only screen and (max-width: 1500px){
    
    footer{
        flex-direction: column;
    }
    footer a{
        margin-top: 0.5rem;
    }
    footer img{
        margin-top: 0.5rem;
    }
}

@media only screen and (max-width: 600px){
    :root{
        font-size: 14px;
    }
    *::-webkit-scrollbar{
        width: initial;
        height: initial;
    }
    *::-webkit-scrollbar-track{
        background: initial;
        /* width: 5px; */
        height: initial;
    }
    *::-webkit-scrollbar-thumb{
        width: initial;
        height: initial;
        background:initial;
    }

    main{
        margin:60px 0 0rem 0;
    }
    .settings{
        margin:60px 0 0rem 0;
    }
    
    .navbar{
        bottom: 0;
        width: 100vw;
        height: 4rem;
        -webkit-box-shadow: 0px -3px 20px 5px rgba(0,0,0,0.05);
        -moz-box-shadow: 0px -3px 20px 5px rgba(0,0,0,0.05);
        box-shadow: 0px -3px 20px 5px rgba(0,0,0,0.05);
    }

    .logo{
        display: none;
    }
    .navbar-nav{
        flex-direction: row;
        justify-content: space-around;
    }
    .nav-link{
        justify-content: center;
        height: 4rem;
    }
    .nav-item:last-child{
        display: none;
    }
    .link-icon{
        margin: 0;
    }
    .m-logo{
        background-image: url('icons/logo.webp');
        min-width: 40px;
        min-height: 40px;
        background-position: center center;
        background-size: cover;
    }
    .mobile-navbar{
        width: 100vw;
        position: fixed;
        top: 0;
        height: 60px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        padding: 0.5rem;
        z-index: 999;
        background-color: var(--bg-secondary);
        transition: 200ms ease;
        -webkit-box-shadow: 0px 3px 20px 5px rgba(0,0,0,0.05);
        -moz-box-shadow: 0px 3px 20px 5px rgba(0,0,0,0.05);
        box-shadow: 0px 3px 20px 5px rgba(0,0,0,0.05);
    }
    .mobile-navbar h1 {
        font-size: 1rem;
        font-weight: 500;
    }
    .settings{
        position: fixed;
        width: 100%;
        height: 100vh;
        overflow: hidden;;
        margin: 0;
    }
    .close-settings{
        top: 6rem;
        right: 1rem;
    }
}

@media only screen and (min-width: 600px){
    .nav-link:hover{
        background-color: var(--bg-primary-dark);
    }
    .logo .nav-link:hover{
        background-color: transparent;
    }
    .navbar:hover .logo .link-icon{
        width: 80px;
        height: 80px;
    }
    .navbar-nav li:first-child{
        margin-bottom: auto;
    }
    .logo .nav-link{
        margin: 0;
        font-size: 1rem;
        height: 100%;
    }
    .nav-link:hover .link-text{
        font-weight: 700;
    }
    .navbar:hover .link-text{
        display: initial;
    }
    .navbar:hover{
        width: 16rem;
        -webkit-box-shadow: 3px 0px 20px 5px rgba(0,0,0,0.05);
        -moz-box-shadow: 3px 0px 20px 5px rgba(0,0,0,0.05);
        box-shadow: 3px 0px 20px 5px rgba(0,0,0,0.05);
    }
    .navbar{
        top: 0;
        left: 0;
    }
    .mobile-navbar{
        display: none;
    }
    
}



